spring:
  application:
    name: DearME-BE

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/dearme_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

gemini:
  api-key: ${GEMINI_API_KEY:dummy-key}
